/docs/     @heybereket @f1shy-dev @SamJakob
/assets/   @SamJakob
/packages/web/ @heybereket @f1shy-dev @HenryLeC @Angshu31
/packages/api/ @heybereket @Angshu31 @HenryLeC
/packages/bot-client/ @heybereket @Angshu31 @f1shy-dev
