
.all-text {
    max-width: 50em;
    padding: 0px 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  
  }
  
  
  .masthead-intro, 
  .masthead-heading {
    text-align: center;
  }
  
  .masthead {
    padding: 6em 0em;
    border-top: solid 1em #f5e4dc;
    
  
  }
  
  .masthead-intro {
    margin-bottom: 0.1em;
    font-size: 1.8em;
  }
  
  .masthead-heading {
    margin-top: -0.2em;
    font-size: 4em;
    text-transform: uppercase;
    text-shadow: 3px 3px  #f5e4dc;
  
  }
  
  
  .section-header {
    margin-top: 2em;
    margin-bottom:-.9em; 
    /* Typography Declarations */
    font-size: 1.2em;
      
  }
  
  .section-content {
     font-weight: 300;
      letter-spacing: 0.05em;
  }
  