@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #eee;
  background-color: #121212;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.15s ease;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
}

/* header */
.header-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 80px;
}

.logo {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
  width: 250px;
  margin-bottom: -30px;
  user-select: none;
  border-radius: 50%;
}

.heading {
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
  font-family: 'Inter';
  font-size: 40px;
}

.header-subtitle {
  max-width: 500px;
  margin: 0 auto 2rem;
  color: rgba(255,255,255,0.7);
  font-size: 1.25rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 550px){
  .header-subtitle {
        width: 360px;
    }
}

/* search */
.header-content .search-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 550px){
  .header-content .search-wrapper {
        width: 300px;
    }
}

.searchInputBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.searchInputBar button {
  min-height: 35px;
  min-width: 40px;
  position: relative;
  bottom: 5px;
}
.search {
  border: 1px solid #666;
  background: #191919;
  margin-bottom: 20px;
  color: #fff;
  width: 500px;
  outline: none;
}

.header-content input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5.5px;
  transition: border 0.3s;
}

/* filter */
.filter-wrapper {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200%;
  margin-left: -170px;
  margin-bottom: -35px;
}

@media (max-width: 550px){
  .filter-wrapper {
        width: 350px;
        margin-left: -25px;
    }
}

.filter-count {
  color: #686c7a;
}

.filter-button:hover, .filter-active {
  background-color: rgb(51, 57, 64);
  transition: all 0.15s ease;
}

.filter-active {
  border: 1px solid #fff;
  background: transparent;
}

.no-results {
  text-align: center;
}


/* tools */
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 960px;
  margin: 0 auto 5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.tool {
  display: flex;
  flex-direction: column;
  width: 370px;
  border-radius: 3px;
  padding: 1.8rem;
  height: 325px;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid #5f6368;
  background-color: rgba(255,255,255,0.04);
  opacity: 1;
  transition: all 0.15s ease;
  position: relative;
  text-align: center;
}

@media (max-width: 550px){
  .tool {
       width: 320px;
    }
}

.tool:hover {
  border: 1px solid #9CA3AF;
  transition: all 0.15s ease;
  transform: translateY(-6px);
}

.display {
  border-radius: 50%;
  width: 25px;
  margin-bottom: -13px;
}

.tool > p {
  text-align: left;
  font-weight: 800;
  line-height: 1.8;
  font-size: 1.2rem;
  color: #eee;
}

.tool > small {
  margin-top: -20px;
  color: rgba(255,255,255,0.7);
  text-align: left;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.9rem;
}

.owner {
  color: gray; 
}

.fork-icon {
  position: absolute;
  top: 25px;
  right: 20px;
}

.category-wrapper {
  text-align: left;
  display: inline-block;
  margin-top: 20px;
}

.language, .issues, .stars {
  font-family: 'Inter';
  cursor: text;
}

.circle {
  stroke-width: 0.1875em;
}



.share-wrapper {
  text-align: right;
  display: inline-block;
  margin-top: 20px;
}


/* page settings */

button {
  border-radius: 5px;
  background: #222428;
  border: 1px solid hsla(0,0%,100%,0.2);
  padding: 5px 10px;
  color: #fff;
  outline: none;
  margin: 0 2px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin-bottom: 10px;
  margin-right: 8px;
}

::selection {
  background-color: #fff;
	color: #131313;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  }