@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --background-colour: #111111;
  --default-dark-colour: #131313;
  --primary-colour-1: #dee3ea;
  --primary-colour-2: #eee;
  --secondary-colour-1: rgba(255, 255, 255, 0.7);
  --link-colour: #DEDEDE;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--primary-colour-2);
  background-color: var(--background-colour);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.15s ease;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link-colour);
  cursor: pointer;
}



/* header */
.header-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 80px;
  position: sticky;
}

.logo {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  width: 250px;
  margin-bottom: -30px;
  user-select: none;
  border-radius: 50%;
}

.heading {
  margin-bottom: 10px;
  color: var(--primary-colour-1);
  font-weight: 700;
  font-family: "Inter";
  font-size: 40px;
}

@media (max-width: 550px) {
  .header-subtitle {
    width: 360px;
  }
}

/* search */
.header-content .search-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 550px) {
  .header-content .search-wrapper {
    width: 300px;
  }
}

.search {
  border: 1px solid #666;
  background: #191919;
  margin-bottom: 20px;
  color: var(--primary-colour-1);
  width: 500px;
  outline: none;
}

.header-content input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 5.5px;
  transition: border 0.3s;
}

/* filter */
.filter-wrapper {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: -35px;
}

@media (max-width: 550px) {
  .filter-wrapper {
    width: 350px;
    margin-left: -25px;
  }
}

.filter-count {
  color: #686c7a;
}

.filter-button:hover,
.filter-active {
  background-color: rgb(51, 57, 64);
  transition: all 0.15s ease;
}

.filter-active {
  border: 1px solid var(--primary-colour-1);
  background: transparent;
}

.no-results {
  text-align: center;
}

/* repos */
.repos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 960px;
  margin: 0 auto 5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.repo {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 3px;
  padding: 1.8rem;
  height: 335px;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 1px solid #5f6368;
  background-color: rgba(255, 255, 255, 0.04);
  opacity: 1;
  transition: all 0.15s ease;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.center {
  text-align: center;
}

@media (max-width: 550px) {
  .repo {
    width: 330px;
    height: 380px;
  }
}

.repo:hover {
  transition: all 0.15s ease;
}

.display {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-bottom: -13px;
  max-width: 100%;
}

.repo > p {
  text-align: left;
  font-weight: 800;
  line-height: 1.8;
  font-size: 1.125rem;
  color: var(--primary-colour-2);
}

.repo > small {
  margin-top: -20px;
  color: var(--secondary-colour-1);
  text-align: left;
  font-weight: 400;
  line-height: 1.4;
  font-size: 0.9rem;
}

.owner {
  color: gray;
}

.fork-icon {
  position: absolute;
  top: 25px;
  right: 20px;
}

.category-wrapper {
  text-align: left;
  display: inline-block;
  margin-top: 20px;
}

.language,
.issues,
.stars {
  font-family: "Inter";
  cursor: text;
}

.circle {
  stroke-width: 0.1875em;
}

.share-wrapper {
  text-align: right;
  display: inline-block;
  margin-top: 20px;
}

/* page settings */

button {
  border-radius: 5px;
  background: #24272D;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  padding: 5px 10px;
  color: var(--primary-colour-1);
  outline: none;
  margin: 0 2px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin-bottom: 10px;
  margin-right: 8px;
}

::selection {
  background-color: #fff;
  color: var(--primary-colour-1);
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-colour-2);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
