.back-to-top__icon {
  background-color: var(--background-colour);
  border: 1px solid var(--primary-colour-1);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease;
}

.back-to-top__icon:hover {
  background-color: rgb(51, 57, 64);
}
