.ScrollToTop {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 9999;
  opacity: 0;
  background-color: var(--primary-colour-1);
  color: #111;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease;
  pointer-events: none;
}

.ScrollToTop.open {opacity: 1; pointer-events: all; cursor: pointer;}