.back-to-top__icon {
  background-color: var(--primary-colour-1);
  color: #111;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease;
}