.banner {
  position: relative;
  padding: 10px 0;
  border-bottom: 2px solid hsla(0,0%,100%,0.1);
  background-color: #131313;
  color: hsla(0,0%,100%,0.7);
  font-family: 'Inter', sans-serif;
  font-weight: 450;
  font-size: 15px;
  text-align: center;
}
  
.banner a {
  color: #fff;
  text-decoration: none;
}