@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  text-align: center;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.invalid-heading {
  font-weight: 800;
  font-size: 70px;
  color: #fff;
  margin-bottom: 15px;
}

.description {
    font-weight: 400;
}

@media (max-width: 550px){
    .invalid-heading {
        font-size: 65px;
    }

    .description {
         width: 320px;
         line-height: 1.4;
      }
  }

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}