body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #111;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 52.1109770808%;
  left: 21.3799805637%;
  font-size: 29px;
  filter: blur(0.02px);
  animation: 38s floatReverse2 infinite;
}
.particle:nth-child(2) {
  top: 65.9286592866%;
  left: 79.9605133268%;
  font-size: 13px;
  filter: blur(0.04px);
  animation: 21s float2 infinite;
}
.particle:nth-child(3) {
  top: 29.304029304%;
  left: 35.3287536801%;
  font-size: 19px;
  filter: blur(0.06px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(4) {
  top: 17.7558569667%;
  left: 58.3580613254%;
  font-size: 11px;
  filter: blur(0.08px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(5) {
  top: 96.9696969697%;
  left: 56.5853658537%;
  font-size: 25px;
  filter: blur(0.1px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(6) {
  top: 42.87454324%;
  left: 30.3623898139%;
  font-size: 21px;
  filter: blur(0.12px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(7) {
  top: 65.0485436893%;
  left: 47.8515625%;
  font-size: 24px;
  filter: blur(0.14px);
  animation: 21s float infinite;
}
.particle:nth-child(8) {
  top: 93.5960591133%;
  left: 41.5019762846%;
  font-size: 12px;
  filter: blur(0.16px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(9) {
  top: 35.792019347%;
  left: 67.1859785784%;
  font-size: 27px;
  filter: blur(0.18px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(10) {
  top: 5.9113300493%;
  left: 77.0750988142%;
  font-size: 12px;
  filter: blur(0.2px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(11) {
  top: 17.3493975904%;
  left: 53.3980582524%;
  font-size: 30px;
  filter: blur(0.22px);
  animation: 31s float2 infinite;
}
.particle:nth-child(12) {
  top: 47.0012239902%;
  left: 27.5319567355%;
  font-size: 17px;
  filter: blur(0.24px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(13) {
  top: 64.4688644689%;
  left: 76.5456329735%;
  font-size: 19px;
  filter: blur(0.26px);
  animation: 27s floatReverse2 infinite;
}
.particle:nth-child(14) {
  top: 77.2616136919%;
  left: 76.6208251473%;
  font-size: 18px;
  filter: blur(0.28px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(15) {
  top: 68.3760683761%;
  left: 72.6202158979%;
  font-size: 19px;
  filter: blur(0.3px);
  animation: 39s float2 infinite;
}
.particle:nth-child(16) {
  top: 10.6537530266%;
  left: 47.7582846004%;
  font-size: 26px;
  filter: blur(0.32px);
  animation: 30s float infinite;
}
.particle:nth-child(17) {
  top: 71.4810281518%;
  left: 24.5821042281%;
  font-size: 17px;
  filter: blur(0.34px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(18) {
  top: 39.457459926%;
  left: 47.4777448071%;
  font-size: 11px;
  filter: blur(0.36px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(19) {
  top: 24.3605359318%;
  left: 83.2517140059%;
  font-size: 21px;
  filter: blur(0.38px);
  animation: 29s float2 infinite;
}
.particle:nth-child(20) {
  top: 40.5797101449%;
  left: 81.7120622568%;
  font-size: 28px;
  filter: blur(0.4px);
  animation: 32s float2 infinite;
}
.particle:nth-child(21) {
  top: 95.0980392157%;
  left: 39.3700787402%;
  font-size: 16px;
  filter: blur(0.42px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(22) {
  top: 0.9828009828%;
  left: 77.909270217%;
  font-size: 14px;
  filter: blur(0.44px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(23) {
  top: 86.9565217391%;
  left: 17.5097276265%;
  font-size: 28px;
  filter: blur(0.46px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(24) {
  top: 60.9431680774%;
  left: 85.6864654333%;
  font-size: 27px;
  filter: blur(0.48px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(25) {
  top: 63.5696821516%;
  left: 21.6110019646%;
  font-size: 18px;
  filter: blur(0.5px);
  animation: 39s float infinite;
}
.particle:nth-child(26) {
  top: 75.7687576876%;
  left: 98.7166831194%;
  font-size: 13px;
  filter: blur(0.52px);
  animation: 33s float infinite;
}
.particle:nth-child(27) {
  top: 88.1272949816%;
  left: 36.3815142576%;
  font-size: 17px;
  filter: blur(0.54px);
  animation: 27s float infinite;
}
.particle:nth-child(28) {
  top: 33.2925336597%;
  left: 70.796460177%;
  font-size: 17px;
  filter: blur(0.56px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(29) {
  top: 37.2093023256%;
  left: 51.1307767945%;
  font-size: 17px;
  filter: blur(0.58px);
  animation: 24s float2 infinite;
}
.particle:nth-child(30) {
  top: 36.9380315917%;
  left: 4.8875855327%;
  font-size: 23px;
  filter: blur(0.6px);
  animation: 31s float2 infinite;
}
.particle:nth-child(31) {
  top: 68.0437424058%;
  left: 79.1788856305%;
  font-size: 23px;
  filter: blur(0.62px);
  animation: 21s float infinite;
}
.particle:nth-child(32) {
  top: 59.1515151515%;
  left: 7.8048780488%;
  font-size: 25px;
  filter: blur(0.64px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(33) {
  top: 2.8985507246%;
  left: 84.6303501946%;
  font-size: 28px;
  filter: blur(0.66px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(34) {
  top: 44.9328449328%;
  left: 49.0677134446%;
  font-size: 19px;
  filter: blur(0.68px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(35) {
  top: 30.5418719212%;
  left: 65.2173913043%;
  font-size: 12px;
  filter: blur(0.7px);
  animation: 25s float2 infinite;
}
.particle:nth-child(36) {
  top: 28.5012285012%;
  left: 71.0059171598%;
  font-size: 14px;
  filter: blur(0.72px);
  animation: 31s float2 infinite;
}
.particle:nth-child(37) {
  top: 38.7409200969%;
  left: 50.6822612086%;
  font-size: 26px;
  filter: blur(0.74px);
  animation: 23s floatReverse infinite;
}
.particle:nth-child(38) {
  top: 66.1800486618%;
  left: 50.8806262231%;
  font-size: 22px;
  filter: blur(0.76px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(39) {
  top: 17.5824175824%;
  left: 37.2914622179%;
  font-size: 19px;
  filter: blur(0.78px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(40) {
  top: 3.8647342995%;
  left: 56.420233463%;
  font-size: 28px;
  filter: blur(0.8px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(41) {
  top: 9.756097561%;
  left: 0.9803921569%;
  font-size: 20px;
  filter: blur(0.82px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(42) {
  top: 61.1590628853%;
  left: 13.8476755687%;
  font-size: 11px;
  filter: blur(0.84px);
  animation: 33s float2 infinite;
}
.particle:nth-child(43) {
  top: 89.646772229%;
  left: 11.7531831538%;
  font-size: 21px;
  filter: blur(0.86px);
  animation: 31s float infinite;
}
.particle:nth-child(44) {
  top: 51.2315270936%;
  left: 21.7391304348%;
  font-size: 12px;
  filter: blur(0.88px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(45) {
  top: 91.8192918193%;
  left: 70.6575073602%;
  font-size: 19px;
  filter: blur(0.9px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(46) {
  top: 78.640776699%;
  left: 25.390625%;
  font-size: 24px;
  filter: blur(0.92px);
  animation: 31s float2 infinite;
}
.particle:nth-child(47) {
  top: 29.3757649939%;
  left: 69.8131760079%;
  font-size: 17px;
  filter: blur(0.94px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(48) {
  top: 29.4117647059%;
  left: 94.4881889764%;
  font-size: 16px;
  filter: blur(0.96px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(49) {
  top: 57.7723378213%;
  left: 78.66273353%;
  font-size: 17px;
  filter: blur(0.98px);
  animation: 27s float infinite;
}
.particle:nth-child(50) {
  top: 20.2653799759%;
  left: 20.4081632653%;
  font-size: 29px;
  filter: blur(1px);
  animation: 24s float2 infinite;
}
.particle:nth-child(51) {
  top: 82.0512820513%;
  left: 79.4896957802%;
  font-size: 19px;
  filter: blur(1.02px);
  animation: 29s float2 infinite;
}
.particle:nth-child(52) {
  top: 3.9312039312%;
  left: 19.7238658777%;
  font-size: 14px;
  filter: blur(1.04px);
  animation: 27s float2 infinite;
}
.particle:nth-child(53) {
  top: 88.3435582822%;
  left: 48.275862069%;
  font-size: 15px;
  filter: blur(1.06px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(54) {
  top: 84.0048840049%;
  left: 5.8881256133%;
  font-size: 19px;
  filter: blur(1.08px);
  animation: 22s float2 infinite;
}
.particle:nth-child(55) {
  top: 78.527607362%;
  left: 55.1724137931%;
  font-size: 15px;
  filter: blur(1.1px);
  animation: 30s float infinite;
}
.particle:nth-child(56) {
  top: 33.2518337408%;
  left: 49.115913556%;
  font-size: 18px;
  filter: blur(1.12px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(57) {
  top: 83.9565741858%;
  left: 6.8027210884%;
  font-size: 29px;
  filter: blur(1.14px);
  animation: 35s float infinite;
}
.particle:nth-child(58) {
  top: 67.4698795181%;
  left: 17.4757281553%;
  font-size: 30px;
  filter: blur(1.16px);
  animation: 38s float infinite;
}
.particle:nth-child(59) {
  top: 38.4236453202%;
  left: 47.4308300395%;
  font-size: 12px;
  filter: blur(1.18px);
  animation: 30s float2 infinite;
}
.particle:nth-child(60) {
  top: 33.4563345633%;
  left: 32.5765054294%;
  font-size: 13px;
  filter: blur(1.2px);
  animation: 22s float2 infinite;
}
.particle:nth-child(61) {
  top: 45.0428396573%;
  left: 65.8800393314%;
  font-size: 17px;
  filter: blur(1.22px);
  animation: 28s float2 infinite;
}
.particle:nth-child(62) {
  top: 95.6843403206%;
  left: 25.7171117705%;
  font-size: 11px;
  filter: blur(1.24px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(63) {
  top: 12.5301204819%;
  left: 87.3786407767%;
  font-size: 30px;
  filter: blur(1.26px);
  animation: 31s float2 infinite;
}
.particle:nth-child(64) {
  top: 0.9852216749%;
  left: 42.4901185771%;
  font-size: 12px;
  filter: blur(1.28px);
  animation: 36s float infinite;
}
.particle:nth-child(65) {
  top: 65.8476658477%;
  left: 18.7376725838%;
  font-size: 14px;
  filter: blur(1.3px);
  animation: 25s floatReverse infinite;
}
.particle:nth-child(66) {
  top: 3.8647342995%;
  left: 28.2101167315%;
  font-size: 28px;
  filter: blur(1.32px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(67) {
  top: 56.5853658537%;
  left: 65.6862745098%;
  font-size: 20px;
  filter: blur(1.34px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(68) {
  top: 62.5152625153%;
  left: 32.3846908734%;
  font-size: 19px;
  filter: blur(1.36px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(69) {
  top: 50.1228501229%;
  left: 42.4063116371%;
  font-size: 14px;
  filter: blur(1.38px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(70) {
  top: 21.6216216216%;
  left: 36.4891518738%;
  font-size: 14px;
  filter: blur(1.4px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(71) {
  top: 59.1133004926%;
  left: 42.4901185771%;
  font-size: 12px;
  filter: blur(1.42px);
  animation: 30s floatReverse2 infinite;
}
.particle:nth-child(72) {
  top: 58.0411124547%;
  left: 47.711781889%;
  font-size: 27px;
  filter: blur(1.44px);
  animation: 37s floatReverse2 infinite;
}
.particle:nth-child(73) {
  top: 4.8959608323%;
  left: 92.4287118977%;
  font-size: 17px;
  filter: blur(1.46px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(74) {
  top: 94.6341463415%;
  left: 15.6862745098%;
  font-size: 20px;
  filter: blur(1.48px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(75) {
  top: 61.5384615385%;
  left: 71.638861629%;
  font-size: 19px;
  filter: blur(1.5px);
  animation: 37s float infinite;
}
.particle:nth-child(76) {
  top: 39.902676399%;
  left: 91.9765166341%;
  font-size: 22px;
  filter: blur(1.52px);
  animation: 31s float infinite;
}
.particle:nth-child(77) {
  top: 52.4908869988%;
  left: 73.3137829912%;
  font-size: 23px;
  filter: blur(1.54px);
  animation: 36s float2 infinite;
}
.particle:nth-child(78) {
  top: 76.9420468557%;
  left: 76.1622156281%;
  font-size: 11px;
  filter: blur(1.56px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(79) {
  top: 80.387409201%;
  left: 2.9239766082%;
  font-size: 26px;
  filter: blur(1.58px);
  animation: 33s float infinite;
}
.particle:nth-child(80) {
  top: 43.137254902%;
  left: 88.5826771654%;
  font-size: 16px;
  filter: blur(1.6px);
  animation: 32s floatReverse2 infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}
