.image-with-text {
  margin: 1em auto 0;
  width: 900px;
  min-height: 60rem;
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #5f6368;
  background-color: rgba(255, 255, 255, 0.04);
  font-family: "Inter";
  color: #fff;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1rem 0 1rem;
}

.data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 1rem 0rem;
  bottom: 0;
  top: 60%;
}

.description {
  font-size: 1rem;
}

.link {
  padding: 2px 4px 2px 4px;
}

.logo {
  border-radius: 50%;
  top: 0;
  margin: 1rem 0 2rem 0;
}

@media (max-width: 550px) {
  .image-with-text {
    width: 350px;
    height: 350px;
  }
}

.project-name-heading {
  text-align: center;
  top: 32.5%;
  width: 100%;
  margin: 2rem 0 0 0;
}
