.verified {
	width: 18px;
}

.display-name {
	margin-bottom: -0px; 
}

.bio {
	margin-bottom: -5px;
}

.avatar {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin-bottom: 5px;
	margin-bottom: -10px;
}