name: Docker Image CI

on:
  push:
    branches: [ staging ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1.9.0
      with:
        registry: docker.pkg.github.com
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN  }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        push: true
        context: .
        tags: |
          docker.pkg.github.com/oasis-sh/oasis/oasis:${{ github.sha }}
          docker.pkg.github.com/oasis-sh/oasis/oasis:latest
