name: Docker Image CI, CD

on:
  push:
    branches: [ staging ]
    paths:
      - 'packages/web/**'
      - 'packages/api/**'
      - 'packages/client-gql/**'
      - 'packages/ui/**'
      - 'docker/**'
      - 'package.json'
      - 'yarn.lock'
      - 'Dockerfile'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1.9.0
      with:
        registry: docker.pkg.github.com
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN  }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v2
      with:
        push: true
        context: .
        tags: |
          docker.pkg.github.com/oasis-sh/oasis/oasis:${{ github.sha }}
          docker.pkg.github.com/oasis-sh/oasis/oasis:latest

  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Remote SSH Commands
        uses: fifsky/ssh-action@v0.0.5
        with:
          command: |
            docker pull docker.pkg.github.com/oasis-sh/oasis/oasis:latest
            cd /opt/oasis/docker/staging
            docker-compose down
            docker-compose up -d
          host: ${{ secrets.SSH_HOST }}
          user: ci-runner
          key: ${{ secrets.SSH_DEPLOY_KEY }}
